# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# Coverage
/coverage

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
.kotlin
*.keystore
!debug.keystore

# iOS/Xcode
build/
DerivedData
*.xcuserstate
xcuserdata
**/.xcode.env.local

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Env files
.env*.local
